body{
    background-color: whitesmoke;
}
.flex-conteiner{
    display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  
}

.grid-forbooks{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.books{
    margin: 20px;
}

@media(max-width: 768px){
    .grid-forbooks{
        display: grid;
        grid-template-columns:1fr;
    }
}


@media(min-width: 769px) and (max-width: 900px) {
    .grid-forbooks{
        display: grid;
        grid-template-columns:1fr 1fr;
    }
}